<!---->
<div class="mb-5 p-5">
<button type="button" name="button" (click)='getInfoFromService1()'>Employee1</button>
<ul class="list-group">
    <li  *ngFor="let empinfo of infoReceived1" class="list-group-info">{{empinfo}}</li>
</ul><br>

<button type="button" name="button" (click)='getInfoFromService2()'>Employee2</button>
<ul class="list-group">
    <li  *ngFor="let empinfo of infoReceived2" class="list-group-info">{{empinfo}}</li>
</ul><br>

<button type="button" name="button" (click)='getInfoFromService3()'>Employee3</button>
<ul class="list-group">
    <li  *ngFor="let empinfo of infoReceived3" class="list-group-info">{{empinfo}}</li>
</ul><br>
</div>